<!DOCTYPE html>

<head>
    <title>Poll Poll</title>
    <meta charset="UTF-8">
   
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- My css -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <script src="../js/jquery-3.5.0.js"></script>
    
    {navbar}

    <div class="col-10 offset-1">
        <div class="row content p-5">
            <div class="col-4">
                <img class="myphoto img-fluid" src="../res/profile_pic.png">
            </div>
    
            <div class="col-8 text-justify align-self-center">
                <h4 class="subsection_title">Автор сайту PollPoll</h4>
                <span class="subsection">
                    Всім привіт =) Вітаю вас на моїй сторінці. Мене звати Олександр, я навчаюсь у Національному Університеті Львівська Політехніка на 2 курсі за спеціальністю “Інформаційно-комунікаційні системи”. Сайт створений як результат виконання всіх лабораторних робіт з курсу “Веб-технології”. 
                </span>
            </div>
        </div>
    </div>

</body>