<!DOCTYPE html>

<head>
    <title>Poll Poll</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <script src="js/jquery-3.5.0.js"></script>
    <script src="js/menubar_anim.js"></script>

    <nav class="menubar navbar">
        <div>
            <a class="menu_entry nav-item" href="index.html">PollPoll</a>
            <div>
                <a class="menu_entry nav-item" id="test" href="#">Про нас</a>
                <a class="menu_entry hidden nav-item" href="contacts.html">Контакти</a>
                <a class="menu_entry hidden nav-item" href="about.html">Де нас знайти</a>
            </div>
        </div>
    </nav>

    <div class="subsection">
        <div class="data_segment">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzdzwMXrdOkcRP468JXDMaZg&key=AIzaSyAhLrbD3OGw88OvCnt62M-TKRF6r5uEVhM" allowfullscreen></iframe>
        </div>
        <div class="data_segment">
            <div class="subsection_title">
                Де нас знайти?
            </div>
            Тут!=)
        </div>
    </div>

</body>