<!DOCTYPE html>

<head>
    <title>Poll Poll</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <script src="../js/jquery-3.5.0.js"></script>
    
    {navbar}

    <div class="subsection">
        <div class="data_segment">
            <div class="subsection_title">
                З нами можна з'єднатися наступним чином:
            </div>
            Номер телефону: +38(096)1111111<br>
            Інший номер телефону: +38(096)1111111<br>
            e-mail: email@email.email<br>
        </div>
    </div>

</body>