<!DOCTYPE html>

<head>
    <title>Poll Poll</title>
    <meta charset="UTF-8">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- My css -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <script src="../js/jquery-3.5.0.js"></script>

    {navbar}

    <div id="description" class="text-center">
        <p class="text-center text-break">PollPoll - довірте нам Ваші голосування!</p>
        <div>
            <a href="new_poll.py">Спробуй просто зараз!</a> 
        </div>
    </div>

    <div class="subsection_title">
        Популярні голосування
    </div>

    <div class="popular_polls container-fluid col-12">
        <div class="row flex-nowrap col-12 align-bottom">
            {poll_elements}            
        </div>     
    </div>
</body>