<script src="../js/menubar_anim.js"></script>

<nav class="menubar navbar">
    <div class="navbar-collapse">
        <a class="menu_entry nav-item" href="index.py">PollPoll</a>
        <a class="menu_entry nav-item" href="new_poll.py">Створити голосування</a>
        
        <div>
            <a class="menu_entry nav-item" id="test" href="#">Про нас</a>
            <a class="menu_entry hidden nav-item" href="contacts.py">Контакти</a>
            <a class="menu_entry hidden nav-item" href="about.py">Про нас</a>
        </div>
        
    </div>
</nav>