<script src="../js/menubar_anim.js"></script>

<nav class="menubar navbar">
    <div>
        <a class="menu_entry nav-item" href="index.py">PollPoll</a>
        <div>
            <a class="menu_entry nav-item" id="test" href="#">Про нас</a>
            <a class="menu_entry hidden nav-item" href="contacts.py">Контакти</a>
            <a class="menu_entry hidden nav-item" href="about.py">Де нас знайти</a>
        </div>
    </div>

    <div>
        <a class="menu_entry nav-item" href="new_poll.py">Створити голосування</a>
    </div>
</nav>